# Python
__pycache__/
*.py[oc]
build/
dist/
wheels/
*.egg-info
*.egg

# Virtual environments
.venv/

# IDE
.vscode/
.idea/

# OS
Thumbs.db
Desktop.ini
.DS_Store

# Project-specific
uv.lock
docs/reference/chm/
docs/reference/services.xml
docs/reference/services_parsed.json

# Temp files
temp/
